<ul style="text-align: left">
    <li style="font-size: 13px;">HTML5 Mobile Application</li>
    <li style="font-size: 13px;text-decoration:line-through"><b>Native iPhone Application</b></li>
    <li style="font-size: 13px;">Hybrid iPhone & Android Application</li>
    <li style="font-size: 13px;">Support for tablets</li>
    <li style="font-size: 13px;">Developer Access</li>
    <li style="font-size: 13px;">Support : Basic and fast</li>
    <br/>
    <li style="font-size: 13px;">No branding from us</li>
    <br/>
    <li style="font-size: 13px;"><b>Free, and will always be free !</b></li>
</ul>

