@variables dummy3 {
  dummy: 0px;
}
.itemBackground {
  background-image: url('http://www.pearls-media.com/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps//mygeneralapp184/Assets/QXAppUploads/listbg.png') !important;
  background-color: rgba(0,0,0,0);
  background-size: 100% 100%;
  opacity: 1.0;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0px solid rgba(100,100,100,0.3);
  border-radius: 0px;
  border-color: rgba(100,100,100,0.3);
  border-width: 0px;
  box-shadow: rgba(0,0,0,0.0) 0px 0px 0px;
  overflow: hidden;
}
.item {
  height: 52px !important;
}
.itemArrow {
}
.itemIcon {
  background-image: url('http://www.pearls-media.com/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/notset') !important;
  background-color: rgba(0,0,0,0.0);
  background-size: 100% 100%;
  float: left;
  width: 89px !important;
  height: 52px !important;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px solid rgba(100,100,100,0.2);
  border-radius: 0px;
  border-color: rgba(100,100,100,0.1);
  border-width: 0px;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 0px;
  opacity: 1.0;
}
.itemTitle {
  font-family: Arial;
  font-size: 22px;
  font-style: normal;
  -ios-number-of-lines: 2;
  color: rgb(204, 0, 153);
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  padding-top: 7;
  
  padding-bottom: 0;
  margin-top: 4;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  white-space: pre-wrap !important;
  text-shadow: 0px 0px 0pt rgba(0,0,0,0.0);
}
.itemDetail {
  font-family: Verdana;
  font-size: 12px;
  font-style: normal;
  -ios-number-of-lines: 2;
  color: rgb(43, 43, 43);
  text-align: left;
  
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-shadow: 0px 0px 0pt rgba(0,0,0,0.3);
}
.itemCaption {
  font-family: HelveticaNeue;
  font-size: 11px;
  font-style: normal;
  -ios-number-of-lines: 1;
  color: rgb(43, 43, 43);
  text-align: left;
  padding-left: 0px;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  white-space: pre-wrap !important;
  text-shadow: 0px 0px 0pt rgba(0,0,0,1);
}
.itemSmallTextLeft {
  font-size: 12;
  font-style: normal;
  -ios-number-of-lines: 1;
  color: black;
  text-align: left;
}
.itemSmallTextRight {
  font-size: 11;
  font-weight: normal;
  -ios-number-of-lines: 1;
  color: black;
  text-align: right;
}
.itemFooterTextLeft {
  font-family: Futura;
  font-size: 10px;
  font-style: normal;
  -ios-number-of-lines: 1;
  color: rgb(43, 43, 43);
  text-align: left;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0px;
  margin-bottom: 10;
  margin-left: 0px;
  margin-right: 0px;
  text-shadow: 0px 0px 0pt rgba(0,0,0,0.261);
}
.itemFooterTextRight {
  font-family: Futura;
  font-size: 10px;
  font-style: normal;
  -ios-number-of-lines: 1;
  color: rgb(43, 43, 43);
  text-align: right;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 10;
  margin-left: -7;
  margin-right: 2px;
  text-shadow: 0px 0px 0pt rgba(0,0,0,0.261);
}
.cellMain {
}
.cellFooter {
  vertical-align: baseline;
  bottom: 0;
}
.listItemSelected {
  color: white;
}
.listItemSelected .mblDomButton div {
  border-color: white;
}
.listItemLabelSelected {
  background-color: #048bf4;
}
