<div>
    <span style="float:left;vertical-align: middle;"><b>Banner Small :</b> </span>
    <br/>
    <span><b>Content Source :</b></span>

    <div data-dojo-type="dijit.form.Select" data-dojo-props="value:'0'" class="contentSourceType2">
        <span data-dojo-value="0">Select your banner source</span>
        <span><b>Joomla</b></span>
        <span data-dojo-value="1">Joomla Section/Category</span>
        <span data-dojo-value="11">Joomla Banner Category</span>
        <span data-dojo-value="13">Frontpage Slide Show Category</span>
    </div>
    <button data-dojo-type="dijit.form.Button" type="button" class="contentSelectorButton" id="selectButton2">Select</button>
</div>
