<div data-dojo-props="region:'leading'">
    <span><b>Content Source :</b></span>
 <div data-dojo-type="dijit.form.Select" data-dojo-props="region:'top'"
      class="contentSourceType" region="top">
        <span data-dojo-value="0">Select your content Source</span>
        <span><b>Joomla</b></span>
        <span data-dojo-value="1">Joomla Section</span>
        <span data-dojo-value="2">Joomla Category</span>
        <span data-dojo-value="3">Joomla Article</span>
        <span data-dojo-value="4">JEvents Category</span>
        <span data-dojo-value="5">JEvents Week</span>
        <span data-dojo-value="6">JEvents Today</span>
        <span data-dojo-value="7">JEvents Location Category</span>
        <span data-dojo-value="8">Moset Tree Category</span>
        <span data-dojo-value="9">Moset Tree Item</span>
        <span data-dojo-value="16">Blue Frame Form</span>
        <span data-dojo-value="17">Breezing Form</span>
        <span data-dojo-value="15">External Link</span>
        <span data-dojo-value="18">RSS</span>
    </div>

    <button data-dojo-type="dijit.form.Button" type="button" class="contentSelectorButton" id="selectButton">Select</button>
    <br/>
    <button data-dojo-type="dijit.form.ToggleButton" data-dojo-props="checked:true,iconClass:'dijitCheckBoxIcon'">
        Offline
    </button>
</div>
