<div data-dojo-attach-point='templatePreviewRoot'
     style="padding: 0px;overflow:hidden;visibility:visible;width:320px;height:480px">

    <div style="padding: 0px; overflow: hidden;width:320px;height:480px; visibility: visible; background-image: url('http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/backgrounds/whiteBlueBG_iPhone_alternative4.png'); background-size: 100% 100%;"
         data-dojo-attach-point="root">

        <div style="visibility: visible; top: 0px; position: relative; left: 0px;" class="mblView"
             id="xapp_views_RModuleView_3" widgetid="xapp_views_RModuleView_3">
            <h1 class="mblHeading mblHeadingFix mblHeadingCenterTitle" style="-moz-user-select: none;"
                id="xapp_CustomDojo_CustomHeading_2" widgetid="xapp_CustomDojo_CustomHeading_2"><span
                    class="mblToolBarButton mblToolBarButtonHasLeftArrow"  id="dojox_mobile_ToolBarButton_6"
                    widgetid="dojox_mobile_ToolBarButton_6"><span
                    class="mblToolBarButtonArrow mblToolBarButtonLeftArrow"
                    style="background-color: rgb(88, 119, 162); background-image: -moz-linear-gradient(0% 0% , rgb(142, 164, 193) 0%, rgb(88, 119, 162) 50%, rgb(71, 105, 153) 50%, rgb(74, 108, 155) 100%);"></span><span
                    class="mblToolBarButtonBody mblColorDefault"><table cellspacing="0" cellpadding="0" border="0"
                                                                        class="mblToolBarButtonText">
                <tbody>
                <tr>
                    <td class="mblToolBarButtonIcon"></td>
                    <td class="mblToolBarButtonLabel">Back</td>
                </tr>
                </tbody>
            </table></span></span><span class="mblHeadingSpanTitle" style="">Events</span>

                <div class="mblHeadingDivTitle"> Events</div></h1>

            <div class="mblFixedSplitter mblFixedSplitterV" id="xapp_views_RModuleController_3"
                 style="width: 320px; height: 480px;" widgetid="xapp_views_RModuleController_3">
                <div class="mblFixedSplitterPane" id="xapp_modules_RLogoModule_3" widgetid="xapp_modules_RLogoModule_3"
                     style="height: 44px; top: 44px;"><img  
                                                           src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/logos/logoPM@2x.png"
                                                           style="width:100%"></div>
                <div class="mblFixedSplitterPane" id="xapp_modules_RListModule_2" widgetid="xapp_modules_RListModule_2"
                     style="height: 396px; top: 88px;">
                    <div class="mblView mblScrollableView" style="overflow: hidden; top: 0px; visibility: visible; height: 380px;" widgetid="dojox_mobile_ScrollableView_2">
                        <div class="mblScrollableViewContainer" style="position: absolute; top: 0px; width: 100%;">
                            <ul class="mblEdgeToEdgeList eventList" id="dojox_mobile_EdgeToEdgeList_11"
                                widgetid="dojox_mobile_EdgeToEdgeList_11">


                                <div class="mblListItem itemBackground mblVariableHeight" 
                                     id="xapp_widgets_RListItem_8" style="min-height: 70px;"
                                     widgetid="xapp_widgets_RListItem_8"><img 
                                                                              src="http://192.168.1.37:8080/XApp-portlet/servlets/ImageScaleIcon?src=http://www.ibiza-pearls.com/files/site/events/markets/Cala_Lenya.jpg&amp;width=70&amp;shadow=true&amp;icon=true"
                                                                              class="mblImageIcon mblListItemIcon itemIcon"
                                                                              style="margin-top: -2px;">

                                    <div class="mblListItemLabel" style="display: block;">
                                        <div class="cellMain"><p class="textDefault itemTitle">Mercadillo Cala Lenya</p>

                                            <p class="textDefault itemCaption">Cala Llenya Flea Market</p></div>
                                        <div style="height: auto !important;height: 100%;margin: 0 auto -1px;min-height: 100%"
                                             class="cellFooter">
                                            <div style="vertical-align:baseline;bottom: 0;"
                                                 class="textDefault itemFooterTextLeft">Sunday 10:00
                                            </div>
                                            <div class="textDefault itemFooterTextRight">Markets</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="mblListItem itemBackground mblVariableHeight" 
                                     id="xapp_widgets_RListItem_9" style="min-height: 70px;"
                                     widgetid="xapp_widgets_RListItem_9"><img 
                                                                              src="http://192.168.1.37:8080/XApp-portlet/servlets/ImageScaleIcon?src=http://www.ibiza-pearls.com/files/site/locations/shops/optica/IMG_3697.JPG&amp;width=70&amp;shadow=true&amp;icon=true"
                                                                              class="mblImageIcon mblListItemIcon itemIcon"
                                                                              style="margin-top: -2px;">

                                    <div class="mblListItemLabel" style="display: block;">
                                        <div class="cellMain"><p class="textDefault itemTitle">Special Sun Glass
                                            Offers</p>

                                            <p class="textDefault itemCaption">Optica La Mar</p></div>
                                        <div style="height: auto !important;height: 100%;margin: 0 auto -1px;min-height: 100%"
                                             class="cellFooter">
                                            <div style="vertical-align:baseline;bottom: 0;"
                                                 class="textDefault itemFooterTextLeft">Friday 17:00
                                            </div>
                                            <div class="textDefault itemFooterTextRight">Special Offers</div>
                                        </div>
                                    </div>
                                </div>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
