<div id="templatePreviewRoot" data-dojo-attach-point='templatePreviewRoot'
     style="padding: 0px;overflow:hidden;visibility:visible;width:320px;height:480px">

    <div style="padding: 0px; overflow: hidden; visibility: visible; background-image: url('http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/backgrounds/whiteBlueBG_iPhone_alternative4.png'); background-size: 100% 100%;"
         data-dojo-attach-point="viewRootLaunch" id="viewRootLaunch" style="width:320px;height:480px;">
        <div style="visibility: visible;" class="mblView" id="xapp_views_RModuleView_0"
             widgetid="xapp_views_RModuleView_0">
            <div class="mblFixedSplitter mblFixedSplitterV" id="xapp_views_RModuleController_0"
                 style="width: 320px; height: 480px;" widgetid="xapp_views_RModuleController_0">
                <div class="mblFixedSplitterPane" id="xapp_modules_RLogoModule_0" widgetid="xapp_modules_RLogoModule_0"
                     style="height: 44px; top: 0px;"><img alt="" tabindex="0"
                                                          src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/logos/logoPM@2x.png"
                                                          style="width:100%"></div>
                <div class="mblFixedSplitterPane" id="xapp_modules_RLaunchModule_0"
                     widgetid="xapp_modules_RLaunchModule_0" style="top: 44px; height: 405px; width: 320px;">
                    <div style="-moz-user-select: none; height: 405px; visibility: visible; overflow: hidden ! important; width: 320px; top: 0px;"
                         class="mblView mblSwapView" id="xapp_CustomDojo_CustomSwapView_0"
                         widgetid="xapp_CustomDojo_CustomSwapView_0">
                        <div class="mblIconContainer" id="dojox_mobile_IconContainer_0" style="overflow: hidden;margin:0px !important;"
                             widgetid="dojox_mobile_IconContainer_0">
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_0"
                                widgetid="dojox_mobile_IconItem_0">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/icons/lbChristmas.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">RSS</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_1"
                                widgetid="dojox_mobile_IconItem_1">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/defaultLocation@2x.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">Places</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_2"
                                widgetid="dojox_mobile_IconItem_2">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/liEvents@2x.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">Events</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_3"
                                widgetid="dojox_mobile_IconItem_3">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/bPic.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">Scrapbook Photos</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_4"
                                widgetid="dojox_mobile_IconItem_4">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/bScanner.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">Gedanken</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_5"
                                widgetid="dojox_mobile_IconItem_5">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/defaultLocation@2x.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">J-Web 2.0</span></div>
                            </li>
                            <li class="mblIconItem" style="padding-left: 15px !important;padding-right: 15px !important;"  tabindex="0" id="dojox_mobile_IconItem_6"
                                widgetid="dojox_mobile_IconItem_6">
                                <div class="mblIconArea">
                                    <div class="mblIconAreaInner"><img alt=""
                                                                       src="http://192.168.1.37:8888/CMAC/11166763-e89c-44ba-aba7-4e9f4fdf97a9/apps/webapp/Assets/iconsShared/liNature@2x.png"
                                                                       class="mblImageIcon"></div>
                                    <span class="mblIconAreaTitle">Endlager</span></div>
                            </li>
                            <li class="mblIconItemTerminator"></li>
                        </div>
                        <div class="mblContainer" id="dojox_mobile_Container_0" widgetid="dojox_mobile_Container_0">
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_0"
                                 widgetid="dojox_mobile__IconItemPane_0">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">RSS</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_1"
                                 widgetid="dojox_mobile__IconItemPane_1">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">Places</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_2"
                                 widgetid="dojox_mobile__IconItemPane_2">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">Events</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_3"
                                 widgetid="dojox_mobile__IconItemPane_3">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">Scrapbook Photos</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_4"
                                 widgetid="dojox_mobile__IconItemPane_4">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">Gedanken</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_5"
                                 widgetid="dojox_mobile__IconItemPane_5">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">J-Web 2.0</span></h2>
                                <div class="mblContent"></div>
                            </div>
                            <div class="mblIconItemPane" style="display: none;" id="dojox_mobile__IconItemPane_6"
                                 widgetid="dojox_mobile__IconItemPane_6">
                                <h2 class="mblIconItemPaneHeading">
                                    <div class="mblIconItemPaneIcon" role="" title="" tabindex="0">
                                        <div title="" class="mblDomButtonBlueMinus mblDomButton">
                                            <div>
                                                <div>
                                                    <div>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="mblIconItemPaneTitle">Endlager</span></h2>
                                <div class="mblContent"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
