<div id="splitter" dojoType="dojox.mobile.FixedSplitter" orientation="V" style="visibility:visible;width:320px;height:480px">
    <div id="contentPane" dojoType="dojox.mobile.FixedSplitterPane" style="height:100%;visibility: visible"
         selected="true">

    </div>
    <div id="infoPane" dojoType="dojox.mobile.FixedSplitterPane"
         style="background-color:black;height:0%;visibility: visible" selected="true">
        <!-- div id="bannerCarousel" fixed="bottom" dojoType="dojox.mobile.Carousel" height="100%" store="store1" navButton="false" pageIndicator="false" numVisible="1"></div-->
    </div>
</div>
<div id="progDiv"></div>
<div id="cacheDiv"></div>